:root {
    --url-tile: url("");
}

#table {
    position: absolute;
    background-color: DarkSeaGreen;
    border: 1px solid LightBlue;
    width: 100%;
    height: 100%;
    top: 0%;
    left: 0%;
}

#round {
    position: absolute;
    top: 1%;
    left: 1%;
    font-size: 20pt;
}

#sub-round {
    position: absolute;
    top: 46%;
    left: 46%;
    width: 62px;
    height: 5px;
    background: url('/images/b_8_2.gif');
    background-size: 62px 5px;
}

.sub-round {
    margin-left: 28px;
    margin-top: 5px;
}

#ho-opposite {
    position: absolute;
    top: 5%;
    left: 50%;
}

#ho-up {
    position: absolute;
    top: 33%;
    left: 50%;
}

#ho-down {
    position: absolute;
    top: 33%;
    left: 50%;
}

#ho-self {
    position: absolute;
    top: 65%;
    left: 50%;
}

#wind-opposite {
    position: absolute;
    top: 33%;
    left: 46%;
}

#wind-up {
    position: absolute;
    top: 43%;
    left: 34%;
}

#wind-down {
    position: absolute;
    top: 43%;
    left: 61%;
}

#wind-self {
    position: absolute;
    top: 57%;
    left: 46%;
}

#point-opposite {
    position: absolute;
    width: 6%;
    top: 37%;
    left: 47%;
}

#point-up {
    position: absolute;
    width: 6%;
    top: 43%;
    left: 40%;
}

#point-down {
    position: absolute;
    width: 6%;
    top: 43%;
    left: 55%;
}

#point-self {
    position: absolute;
    width: 6%;
    top: 52%;
    left: 47%;
}

#hands-self {
    position: relative;
    width: 429px;
    height: 44px;
    top: 92%;
    left: 50%;
    float: left;
}

#tile-drawn-self {
    position: relative;
    width: 33px;
    height: 45px;
    top: 92%;
    left: 50%;
    float: left;
}

#operation > button {
    position: absolute;
    width: 9%;
    height: 4%;
    left: 83%;
}

#ron {
    top: 86%;
}

#skip {
    top: 78%;
}

.display-none {
    display: none;
}

.hands-row > ul {
    margin: 0%;
    padding: 0%;
    list-style: none;
}

.hands-row > ul > li {
    margin: 0%;
    padding: 0%;
    position: relative;
}

.ho-vertical {
    width: 198px;
    height: 150px;
}

.ho-horizontal {
    width: 176px;
    height: 219px;
}

.tile-row > ul {
    margin: 0%;
    padding: 0%;
    list-style: none;
}

.tile-row > ul > li {
    margin: 0%;
    padding: 0%;
    position: relative;
}

.tile-opposite {
    background: var(--url-tile);
    left: -50%;
}

.tile-up {
    background: var(--url-tile);
    left: -200%;
}

.tile-down {
    background: var(--url-tile);
    left: 100%;
}

.tile-self {
    background: var(--url-tile);
    left: -50%;
}

.tile-hand {
    background: var(--url-tile);
}

.tile-vertical-middle {
    float: left;
    width: 33px;
    height: 44px;
}

.tile-vertical-bottom {
    float: left;
    width: 33px;
    height: 59px;
}

.tile-vertical-bottom-parts {
    margin: 0px;
    padding: 0px;
    position: relative;
    float: left;
    width: 33px;
    height: 15px;
    background: url('/images/tile_bottom_parts_vertical.gif');
}

.tile-vertical-place {
    float: left;
    width: 33px;
    height: 44px;
}

.tile-horizontal-middle {
    float: left;
    width: 44px;
    height: 34px;
}

.tile-horizontal-bottom {
    float: left;
    width: 44px;
    height: 49px;
}

.tile-horizontal-bottom-parts {
    margin: 0px;
    padding: 0px;
    position: relative;
    float: left;
    width: 44px;
    height: 15px;
    background: url('/images/tile_bottom_parts_horizontal.gif');
}

.tile-horizontal-place {
    float: left;
    width: 44px;
    height: 34px;
}

.tile-in-hands {
    float: left;
    width: 33px;
    height: 45px;
    left: -50%;
}

.tile-drawn {
    float: left;
    width: 33px;
    height: 45px;
    left: -600%;
}

.wind-vertical > div {
    width: 33px;
    height: 61px;
}

.wind-horizontal > div {
    width: 60px;
    height: 37px;
}

.wind-east-opposite {
    background: url('/images/c_e_3.gif');
}

.wind-south-opposite {
    background: url('/images/c_s_3.gif');
}

.wind-west-opposite {
    background: url('/images/c_w_3.gif');
}

.wind-north-opposite {
    background: url('/images/c_n_3.gif');
}

.wind-east-up {
    background: url('/images/c_e_2.gif');
}

.wind-south-up {
    background: url('/images/c_s_2.gif');
}

.wind-west-up {
    background: url('/images/c_w_2.gif');
}

.wind-north-up {
    background: url('/images/c_n_2.gif');
}

.wind-east-down {
    background: url('/images/c_e_4.gif');
}

.wind-south-down {
    background: url('/images/c_s_4.gif');
}

.wind-west-down {
    background: url('/images/c_w_4.gif');
}

.wind-north-down {
    background: url('/images/c_n_4.gif');
}

.wind-east-self {
    background: url('/images/c_e_1.gif');
}

.wind-south-self {
    background: url('/images/c_s_1.gif');
}

.wind-west-self {
    background: url('/images/c_w_1.gif');
}

.wind-north-self {
    background: url('/images/c_n_1.gif');
}

.point {
    text-align: right;
}

.modal-area {
    visibility: hidden;
    opacity : 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.modal-wrapper {
    position: absolute;
    top: 47%;
    left: 50%;
    transform:translate(-50%,-50%);
    width: 35%;
    padding: 10px 40px;
    background-color: Ivory;
    border: 3px solid DimGray;
    border-radius: 10px;
    box-sizing: border-box;
}

.close-modal {
    position: absolute;
    top: 0.5rem;
    right: 1rem;
    cursor: pointer;
}

.show-modal {
    visibility: visible;
    opacity : 1;
}

.round-result-header {
    padding-left: 10px;
    text-align: center;
}

.player-point {
    padding-left: 20px;
    text-align: right;
}

.player-point-diff {
    padding-left: 10px;
    text-align: right;
}

.game-result-header {
    text-align: center;
}

.result-order {
    padding-left: 30px;
    text-align: right;
}

.result-point {
    padding-left: 30px;
    text-align: right;
}

#debug > button {
    position: absolute;
    width: 60px;
    height: 30px;
    left: 80%;
    z-index: 1;
}

#debug-start {
    top: 65%;
}

#debug-discard-tile {
    top: 70%;
}

#debug-ron {
    top: 75%;
}

#debug-next {
    top: 80%;
}

#debug-result {
    top: 85%;
}
