.gitignore
.vagrant/

.DS_Store
# data dir for mysql
dockerfiles/mysql/data/
local_info.md

# ansible-galaxy role
roles/geerlingguy.*
roles/ansistrano.*

__pycache__/
*.pyc

matching/requirements.txt
matching/matching_test.py
maujong-ui/images/