server {
  server_name {{ mahjong_play_manager_server_name }};

  location / {
    proxy_pass http://mahjong-play-manager:8080;
    proxy_set_header Upgrade $http_upgrade;
    proxy_set_header Connection "Upgrade";
    proxy_set_header Host $host;
  }
}
