version: '2'

services:
  web:
    image: nginx:1.19.4-alpine
    ports:
      - "{{ nginx_port }}:{{ nginx_port }}"
    expose:
      - "{{ nginx_port }}"
    volumes:
      - /etc/nginx/templates:/etc/nginx/templates
      - {{ nginx_static_file_directory }}:/var/www/pinfu-challenge
{% if nginx_cert_exist %}
      - {{ letsencrypt_cert_directory }}:{{ letsencrypt_cert_directory }}
      - {{ letsencrypt_cert_directory }}/fullchain.pem:{{ letsencrypt_cert_directory }}/fullchain.pem
      - {{ letsencrypt_cert_directory }}/privkey.pem:{{ letsencrypt_cert_directory }}/privkey.pem
{% endif %}
    restart: always
    environment:
      - NGINX_PORT="{{ nginx_port }}"
