version: '2'

services:
  matching-mysql:
    image: matching-mysql:latest
    ports:
      - "127.0.0.1:3306:3306"
    volumes:
      - "{{ mysql_data_directory }}:/var/lib/mysql"
    command:
      mysqld --innodb_use_native_aio=0
    #environment:
      #- MYSQL_DATABASE="matching_service"
      #- MYSQL_USER="matching_api"
      #- MYSQL_ROOT_PASSWORD="{{ mysql_root_pass }}"
      #- MYSQL_PASSWORD="{{ mysql_pass }}"
    restart: always
